@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit this Machine: @Html.DisplayFor(model => model.MachineName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)

  <input type="submit" value="Save"/>
}

<h4>@Html.ActionLink("Back to Machines", "Index")</h4>